@model ISRPO_LR1.Domain.Service.ServiceResponseModel<ISRPO_LR1.Domain.Student>
@{
    ViewBag.Title = "Студент";
}

@if (Model.Success)
{
    <div class="media">
        <div class="media-body">
            <h5>Студент: @Model.Item.s_full_name</h5>
            <h6>Почта: @Model.Item.s_email</h6>
            <h6>Дата рождения: @Model.Item.s_birth_date</h6>

            @if (ViewBag.IsEditable == true)
            {
                <div class="mb-1 d-flex justify-content-between w-100">
                    <a class="btn btn-success w-100 m-1" href="@Url.Action("Edit", "Students", new {id = ViewBag.Grade.Id})">Редактировать</a>
                    <a class="btn btn-danger w-100 m-1" href="@Url.Action("Delete", "Students", new {id = ViewBag.Grade.Id})">Удалить</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="media">
        <h2>Произошла ошибка!</h2>
        <h5>@Model.Error</h5>
    </div>
}