@{
    ViewBag.Title = "Оценка";
}

<div class="media">
    <div class="media-body">
        <h5>@ViewBag.Grade.Title</h5>
        <h6>Автор: @ViewBag.Grade.Surname @ViewBag.Author.Name</h6>
        <h6>Дата: @ViewBag.Grade.PublicationDate</h6>

        <div class="d-flex justify-content-center m-3">
            <p>@ViewBag.Grade.Text</p>
        </div>

        @if (ViewBag.IsEditable == true)
        {
            <div class="mb-1 d-flex justify-content-between w-100">
                <a class="btn btn-success w-100 m-1" href="@Url.Action("Edit", "Grades", new {id = ViewBag.Grade.Id})">Редактировать</a>
                <a class="btn btn-danger w-100 m-1" href="@Url.Action("Delete", "Grades", new {id = ViewBag.Grade.Id})">Удалить</a>
            </div>
        }
    </div>
</div>